
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>

</style>
<script>
    $(document).ready(function () {
        document.title = 'Reports Browse';
        var today = new Date();
        var now = new Date(new Date(today.getTime() - (today.getTimezoneOffset() * 60000))).toISOString().substring(0, 10);
        $("#paypermonthfrom").val(now);
        $(".assertionSumm").change(function () {
            var button = '<button class="btn btn-primary ml-1" type="submit">Open Report</button>';
            if (this.checked) {
                var firstInput = '<input class="form-control" id="datefrom" type="datetime-local" name="datefrom" required />';
                var secondInput = '<input class="form-control ml-1" type="datetime-local" name="dateto" />';
                $('#assertionSummaryID').empty();
                $('#assertionSummaryID').append(firstInput+secondInput+button);
            }
            else {
                var firstInput = '<input class="form-control" id="datefrom" type="date" name="datefrom" required />';
                var secondInput = '<input class="form-control ml-1" type="date" name="dateto" />';
                $('#assertionSummaryID').empty();
                $('#assertionSummaryID').append(firstInput + secondInput + button);
            }
        });
        $(".expensesdaterangecheckbox").change(function () {
            var button = '<button class="btn btn-primary ml-1" type="submit">Open Report</button>';
            if (this.checked) {
                var firstInput = '<input class="form-control" id="datefrom" type="datetime-local" name="datefrom" required />';
                var secondInput = '<input class="form-control ml-1" type="datetime-local" name="dateto" />';
                $('#expensedaterangeID').empty();
                $('#expensedaterangeID').append(firstInput + secondInput + button);
            }
            else {
                var firstInput = '<input class="form-control" id="datefrom" type="date" name="datefrom" required />';
                var secondInput = '<input class="form-control ml-1" type="date" name="dateto" />';
                $('#expensedaterangeID').empty();
                $('#expensedaterangeID').append(firstInput + secondInput + button);
            }
        });
    });
</script>

<div class="pl-5 pr-5">
    @*<h2>Reports Browse</h2>
    <hr />*@
    <div class="row" style="height: 23vh;">
        <div class="col col-md-6">
            <button class="btn btn-lg w-50" style="background-color:#6C7AE0;color:white;" type="button" data-toggle="collapse" data-target="#assertionsummary" aria-expanded="false" aria-controls="assertionsummary">
                <span><b>Assertion Summary</b></span>
            </button>
            <div class="collapse" id="assertionsummary">
                <div class="well">
                    <div class="">
                        <label class="checkbox-inline">
                            <input type="checkbox" class="assertionSumm" id="assertionSummaryTime">Use Time
                        </label>
                        @using (Html.BeginForm("Index", "AssertionSummaries", FormMethod.Get, new { target = "_blank" }))
                        {
                            <div class="form" id="assertionSummaryID" style="display:flex;">

                                <input class="form-control" id="datefrom" type="date" name="datefrom" required />
                                <input class="form-control ml-1" id="dateto" type="date" name="dateto" />
                                <button type="submit" class="btn btn-primary ml-1">Open Report</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-md-6">
            <a class="btn btn-lg w-50" type="button" style="background-color:#6C7AE0;color:white;" href="/Collectibles" target="_blank"><b>Collectibles</b></a>
        </div>
    </div>
    <div class="row" style="height: 23vh">
        <div class="col col-md-6">
            <button class="btn btn-lg w-50" style="background-color:#6C7AE0;color:white;" type="button" data-toggle="collapse" data-target="#expensesdaterange" aria-expanded="false" aria-controls="expensesdaterange">
                <span><b>Expenses Date Range</b></span>
            </button>
            <div class="collapse" id="expensesdaterange">
                <div class="well">
                    <div class="">
                        <label class="checkbox-inline">
                            <input type="checkbox" class="expensesdaterangecheckbox" id="assertionSummaryTime">Use Time
                        </label>
                        @using (Html.BeginForm("Index", "ExpensesDateRange", FormMethod.Get, new { target = "_blank" }))
                        {
                            <div class="form" id="expensedaterangeID" style="display:flex;">

                                <input class="form-control" id="datefrom" type="date" name="datefrom" required />
                                <input class="form-control ml-1" id="dateto" type="date" name="dateto" />
                                <button class="btn btn-primary ml-1">Open Report</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-md-6">
            <a class="btn btn-lg w-50" style="background-color:#6C7AE0;color:white;" data-target="_blank" href="/ExpensesUnbilledtoCodep" target="_blank"><b>Expenses - Unbilled to Codep</b></a>
        </div>
    </div>
    <div class="row" style="height: 23vh">
        <div class="col col-md-6">
            <button class="btn btn-lg w-50" style="background-color:#6C7AE0;color:white;" type="button" data-toggle="collapse" data-target="#expensespermonth" aria-expanded="false" aria-controls="expensespermonth">
                <span><b>Expenses Per Month</b></span>
            </button>
            <div class="collapse" id="expensespermonth">
                <div class="">
                    @using (Html.BeginForm("Index", "ExpensesPerMonth", FormMethod.Get, new { target = "_blank" }))
                    {
                        <div class="form" id="paymentscollectedrangeID" style="display:flex;">
                            <input class="form-control paypermonthfrom" id="paypermonthfrom" type="date" name="datefrom" required />
                            <input class="form-control ml-1 paypermonthto" id="paypermonthto" type="date" name="dateto" />
                            <button class="btn btn-primary ml-1">Open Report</button>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="col col-md-6">
            <button class="btn btn-lg w-50" type="button" style="background-color:#6C7AE0;color:white;" data-toggle="collapse" data-target="#paymentsdaterange" aria-expanded="false" aria-controls="paymentsdaterange">
                <span><b>Payments Collected Date Range</b></span>
            </button>
            <div class="collapse" id="paymentsdaterange">
                <div class="well">
                    <div class="">
                        <label class="checkbox-inline">
                            <input type="checkbox" class="paymentsdaterangecheckbox" id="assertionSummaryTime">Use Time
                        </label>
                        @using (Html.BeginForm("Index", "PaymentsCollectedDateRange", FormMethod.Get, new { target = "_blank" }))
                        {
                            <div class="form" id="paymentscollectedrangeID" style="display:flex;">
                                <input class="form-control" id="datefrom" type="date" name="datefrom" required />
                                <input class="form-control ml-1" id="dateto" type="date" name="dateto" />
                                <button class="btn btn-primary ml-1">Open Report</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="height: 23vh">
        <div class="col col-md-6">
            <button class="btn btn-lg w-50" style="background-color:#6C7AE0;color:white;" type="button" data-toggle="collapse" data-target="#paymentspermonth" aria-expanded="false" aria-controls="paymentspermonth">
                <span><b>Payments Per Month</b></span>
            </button>
            <div class="collapse" id="paymentspermonth">
                <div class="well">
                    <div class="">
                        @using (Html.BeginForm("Index", "PaymentsPerMonth", FormMethod.Get, new { target = "_blank" }))
                        {
                            <div class="form" id="paymentscollectedrangeID" style="display:flex;">
                                <input class="form-control paypermonthfrom" id="paypermonthfrom" type="date" name="datefrom" required />
                                <input class="form-control ml-1 paypermonthto" id="paypermonthto" type="date" name="dateto"/>
                                <button class="btn btn-primary ml-1">Open Report</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>