
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <a type="button" class="btn btn-outline-primary" href="/AS/Index">Assertion Summary</a>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <a type="button" class="btn btn-outline-primary" id="collectible" href="/Collectibles/PrintViewToPdf">Collectibles</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="form-group">
            <a type="button" class="btn btn-outline-primary">Expenses-Date Range</a>
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <a type="button" class="btn btn-outline-primary" href="/UnbilledtoCodep/PrintViewToPdf">Expenses-Unbilled to Codep</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="form-group">
            <a type="button" class="btn btn-outline-primary">Expenses Per Month</a>
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <a type="button" class="btn btn-outline-primary">Payments Collected-Date Range</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="form-group">
            <a type="button" class="btn btn-outline-primary">Payments per Month</a>
        </div>
    </div>
</div>
</div>
<script>

