@model IEnumerable<Icarus.Models.tblAssertion>

<style>
    .thead-style-assertion {
        background-color: #6C7AE0;
        color: white;
    }
</style>

<div class="container">
    <table class='table table-striped table-hover table-borderless'>
        <thead class="thead-style-assertion">
            <tr>
                <th class='tableheadleft'>IDAdmission</th>
                <th>Date</th>
                <th>Description</th>
                <th>Category</th>
                <th>Qty</th>
                <th>Price</th>
                <th>MarkUp%</th>
                <th>MarkUpValue</th>
                <th>MarkupPrice</th>
                <th>Subtotal</th>
                <th>Notes</th>
                <th class='tableheadright'>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>@item.IDAdmission</td>
                </tr>
            }
        </tbody>
    </table>
</div>