
@{
    ViewBag.Title = "GenerateBilling";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="padding-top: 5%;padding-bottom: 5%;">
    <div>
        <image src="~/Content/logo.png" style="width:15%;height:15%" />
        <span style="font-size: 30px;margin-top:-5%;">Bridges of Hope Drug and Alcohol Rehabilitation Center - Cebu</span>
    </div>
    <div class="text-center">
        <h3>Billing Statement</h3>
    </div>
    <div>
        <div class="row col-sm-12">
            <div class="col-sm-2 pl-0 ml-0 pr-0 mr-0">
                <h4>ID ADMISSION</h4>
            </div>
            <div class="col-sm-4">
                <h4>1139</h4>
            </div>
            <div class="col-sm-3 pl-5">
                <h4>Last Payment Made</h4>
            </div>
            <div class="col-sm-3 pb-0" style="text-align: right;">
                <h4>01/15/21 - 12,400.00</h4>
            </div>
        </div>
        <div class="row col-sm-12">
            <div class="col-sm-2 pl-0 ml-0 pr-0 mr-0">
                <h4>Name</h4>
            </div>
            <div class="col-sm-4">
                <h4>Monica "Monmon" Dinglasa</h4>
            </div>
            <div class="col-sm-3 pl-5">
                <h4>This Billing Total</h4>
            </div>
            <div class="col-sm-3 pb-0" style="text-align: right;">
                <h4>40,000.00</h4>
            </div>
        </div>
        <div class="row col-sm-12">
            <div class="col-sm-2 pl-0 ml-0 pr-0 mr-0">
                <h4>Admission Date</h4>
            </div>
            <div class="col-sm-4">
                <h4>12/15/2020</h4>
            </div>
            <div class="col-sm-3 pl-5">
                <h4>Previous Balance</h4>
            </div>
            <div class="col-sm-3 pb-0" style="text-align: right;">
                <h4>-39.63</h4>
            </div>
        </div>
        <div class="row col-sm-12">
            <div class="col-sm-2 pl-0 ml-0 pr-0 mr-0">
                <h4>Billing Date</h4>
            </div>
            <div class="col-sm-4">
                <h4>4/23/2021</h4>
            </div>
            <div class="col-sm-3 pl-5">
                <h4>Overall Balance</h4>
            </div>
            <div class="col-sm-3 pb-0" style="text-align: right;">
                <h4>39,963.37</h4>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div>
        <h5><b>Billing Details:</b></h5>
    </div>
    <div class="container pl-5 ml-5">
        <div class="row">
            <div class="col-sm-1 text-center">
                <p>Date</p>
            </div>
            <div class="col-sm-3 text-left">
                <p>Description</p>
            </div>
            <div class="col-sm-1 text-center">
                <p>Qty</p>
            </div>
            <div class="col-sm-2 text-right">
                <p>Price</p>
            </div>
            <div class="col-sm-2 text-right">
                <p>Subtotal</p>
            </div>
            <div class="col-sm-3">
                <p>Remarks</p>
            </div>
        </div>
    </div>
    <div>
        <b>A - Treatment Fee</b>
        <div class="container pl-5 ml-5">
            <div class="row">
                <div class="col-sm-1 text-center">
                    <h5>04-25-21</h5>
                </div>
                <div class="col-sm-3 text-left">
                    <h5>This is just a description</h5>
                </div>
                <div class="col-sm-1 text-center">
                    <h5>1.00</h5>
                </div>
                <div class="col-sm-2 text-right">
                    <h5>40,000.00</h5>
                </div>
                <div class="col-sm-2 text-right">
                    <h5>40,000.00</h5>
                </div>
                <div class="col-sm-3">
                    <h5>For the month of April</h5>
                </div>
            </div>
            <hr style="border-top: 3px solid black;margin-bottom:5px;margin-top:5px;" />
            <div class="row">
                <div class="col-sm-1 text-center">
                </div>
                <div class="col-sm-3 text-left">
                </div>
                <div class="col-sm-1 text-center">
                </div>
                <div class="col-sm-2 text-right">
                </div>
                <div class="col-sm-2 text-right">
                    <h5>Group Total</h5>
                </div>
                <div class="col-sm-3">
                    <h5>28,000.00</h5>
                </div>
            </div>
        </div>
        <b>B - Assertions</b>
        <div class="container pl-5 ml-5">
            <div class="row">
                <div class="col-sm-1 text-center">
                    <h5>04-25-21</h5>
                </div>
                <div class="col-sm-3 text-left">
                    <h5>This is just a description</h5>
                </div>
                <div class="col-sm-1 text-center">
                    <h5>1.00</h5>
                </div>
                <div class="col-sm-2 text-right">
                    <h5>40,000.00</h5>
                </div>
                <div class="col-sm-2 text-right">
                    <h5>40,000.00</h5>
                </div>
                <div class="col-sm-3">
                    <h5>For the month of April</h5>
                </div>
            </div>
            <hr style="border-top: 3px solid black;margin-bottom:5px;margin-top:5px;" />
            <div class="row">
                <div class="col-sm-1 text-center">
                </div>
                <div class="col-sm-3 text-left">
                </div>
                <div class="col-sm-1 text-center">
                </div>
                <div class="col-sm-2 text-right">
                </div>
                <div class="col-sm-2 text-right">
                    <h5>Group Total</h5>
                </div>
                <div class="col-sm-3">
                    <h5>28,000.00</h5>
                </div>
            </div>
        </div>
    </div>
</div>

