<div class="">
    <nav id="navColor" class="navbar navbar-expand-md pb-0 mb-0" style="background-color:#444D8E;">
        <a class="navbar-brand" href="/Residents">Icarus</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Admission
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/Admissions">Admission Browse</a>
                        <a class="dropdown-item" href="/Residents">Resident Browse</a>
                        <a class="dropdown-item" href="/Inquiries">Inquiry Logs</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Expenses
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        @if (Session["isADG"].ToString() == "Y" || Session["isEDG"].ToString() == "Y" || Session["isAAG"].ToString() == "Y")
                        {
                            <a class="dropdown-item" href="/Expenses">Expense Browse</a>
                        }
                        <a class="dropdown-item" href="/Vendors">Vendors</a>
                        <a class="dropdown-item" href="/Requests">Requests</a>
                        <a class="dropdown-item" href="/AssertionCategories">Assertion Category</a>
                        @if (Session["isADG"].ToString() == "Y" || Session["isAAG"].ToString() == "Y")
                        {
                            <a class="dropdown-item" href="/ChartOfAccounts">Chart of Accounts</a>
                        }
                    </div>
                </li>
                @if (Session["isADG"].ToString() == "Y" || Session["isEDG"].ToString() == "Y" || Session["isAAG"].ToString() == "Y")
                {
                    <li class="nav-item">
                        <a class="nav-link" href="/Payments">Payments</a>
                    </li>
                }
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Reports
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        @if (Session["isADG"].ToString() == "Y" || Session["isEDG"].ToString() == "Y" || Session["isAAG"].ToString() == "Y")
                        {
                            <a class="dropdown-item" href="/Reports">Reports Browse</a>
                        }
                        <a class="dropdown-item" href="/ResidentActivities">Resident Activity</a>
                        <a class="dropdown-item" href="/FacilityReports">Facility Report</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Account
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/Staffs">Staffs</a>
                        <a class="dropdown-item" data-toggle="modal" data-target="#changePassword" style="cursor:pointer;">Change Password</a>
                        @using (Html.BeginForm("Logout", "Home", FormMethod.Post, new { id = "logoutForm" }))
                        {
                            @Html.AntiForgeryToken()
                            <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
                        }
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="modal fade" id="changePassword" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Change Password</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="form-group col-sm-12">
                            <label>Old Password:</label>
                            <input name="oldPassword" class="form-control oldPassword" type="password" required />
                            <span id="oldPass" style="color:red;"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-sm-12">
                            <label>New Password:</label>
                            <input name="newPassword" class="form-control password" type="password" required />
                            <span id="checker" style="color:red;"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-sm-12">
                            <label>Re-type New Password:</label>
                            <input name="retypedPassword" type="password" class="form-control retypePassword" required />
                            <span id="check" style="color:red;"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="close" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="save">Save</button>
                </div>


            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
<br>
<script>
    var $dropdown = $(".dropdown");
    var $dropdownToggle = $(".dropdown-toggle");
    var $dropdownMenu = $(".dropdown-menu");
    var showClass = "show";

    $(window).on("load resize", function () {

        $('#save').unbind().click(function () {
            var old = $('.oldPassword').val();
            var newPass = $('.password').val();
            var retyped = $('.retypePassword').val();
            var oldPass = false;
            var newType = false;
            if (old != "@Session["Password"]") {
                $('#oldPass').text("Old Password do not match!");
                $('#oldPass').css("color", "red");
                var oldPass = false;
            }
            else {
                $('#oldPass').text("Password match!");
                $('#oldPass').css("color", "green");
                var oldPass = true;
            }

            if (newPass != retyped || ((newPass == '' || newPass == null) && (newPass == '' || newPass == null ))) {
                $('#checker').text("New Password do not match!");
                $('#check').text("New Password do not match!");
                var newType = false;
            }
            else {
                var newType = true;
            }
            console.log(old != "@Session["Password"]");
            console.log(newPass != retyped);

            if (oldPass && newType) {
                $.ajax({
                    type: "POST",
                    url: "/ChangePassword",
                    data: {
                        newPassword: newPass
                    },
                    success: function (result) {
                        if (result == "Success") {
                            $('.oldPassword').val('');
                            $('.password').val('');
                            $('.retypePassword').val('');
                            $('#oldPass').text('');
                            $('#check').text('');
                            $('#checker').text('');
                            console.log("SUCCESS");
                            $('.modal').modal('toggle');
                        }
                        else {
                            alert("Saving failed!");
                        }
                    },
                });
            }
        })

        if (this.matchMedia("(min-width: 768px)").matches) {
            $dropdown.hover(
                function () {
                    var $this = $(this);
                    $this.addClass(showClass);
                    $this.find($dropdownToggle).attr("aria-expanded", "true");
                    $this.find($dropdownMenu).addClass(showClass);
                },
                function () {
                    var $this = $(this);
                    $this.removeClass(showClass);
                    $this.find($dropdownToggle).attr("aria-expanded", "false");
                    $this.find($dropdownMenu).removeClass(showClass);
                }
            );
        } else {
            $dropdown.off("mouseenter mouseleave");
        }
    });
</script>
<style>
    .tableheadleft {
        border-top-left-radius: 15px;
    }

    .tableheadright {
        border-top-right-radius: 15px;
    }

    #navbarSupportedContent {
        margin-left: 48%;
    }

    #navColor {
        color: white;
    }

    .navbar .nav-item:not(:last-child) {
        margin-right: 35px;
    }

    .dropdown-toggle::after {
        transition: transform 0.15s linear;
    }

    .show.dropdown .dropdown-toggle::after {
        transform: translateY(3px);
    }

    .dropdown-menu {
        margin-top: 0;
    }

    #tableName {
        text-align: center
    }

    .navbar-brand {
        color: white;
    }

    .navbar-expand-md .navbar-nav .nav-link {
        color: white;
    }

    .search {
        margin-left: 90%;
        border-radius: 5px;
        padding-right: 90px;
    }

    .isearch {
        border-radius: 5px;
    }

</style>
